@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97.5vw;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

h1 {
    color: tomato;
    font-family: patua one;
    font-size: 2.25rem;
    letter-spacing: 5px;
    margin-bottom: 0vh;
    text-shadow: 1px 1px rgb(75, 75, 75);
}

#titletext{
    color: rgb(75, 75, 75);
    font-size: .75rem;
    font-family: nunito;
}
.subtitle {
    font-size: 1.25rem;
    color: rgb(75, 75, 75);
    font-family: nunito;
}

#header {
    background-color: white;
    width: 60vw;
    min-width: 500px;
    min-height: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    padding-bottom: 5vh;
    width: 60vw;
    min-width: 500px;
    height: 20vh;
    min-height: 110px;
    text-align: center;
    border-bottom: 4px double rgb(99, 99, 99);
}

#feature-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    min-width: 500px;
    padding-top: 5vh;
    margin-top: 3px; 
}

#title-images {
    display: flex;
    flex-direction: row;
    width: 60vw;
    min-width: 500px;
    justify-content: space-around;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    font-family: nunito;
    font-size: .75em;
    text-align: center;
    color: rgb(75, 75, 75);
    align-items: center;
    justify-content: space-between;
    width: 18vw;
    height: 15vw;
    min-width: 150px;
    min-height: 125px;
}

.home-image{
    width: 18vw;
    min-width: 150px;
    border: .25vw solid lightgray;
}

#home-button-bar {
    margin-top: 12vh;
    margin-bottom: 5vh;
}

.button-bar {
    margin-bottom: 5vh;
}

#image-break {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 215px;
    background-color: black;
    font-family: nunito;
    font-size: 1.25rem;
    text-align: right;
    color: rgb(8, 33, 141);
    text-shadow: 1.5px 1.5px rgb(83, 145, 238);
}

#image-break-text {
    padding-right: 5vw;
}

#three-dick-moon {
    height: 100%;
}

.tell-me-more-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 12vw;
    min-width: 150px;
    min-height: 40px;
    height: 4vh;
    background-color: tomato;
    border-radius: 3px;
    box-shadow: 2px 2px lightgray;
    font-family: nunito;
    font-weight: bold;
    font-size: .8rem;
    color: white;
}

.continue-reading-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 12vw;
    min-width: 150px;
    min-height: 40px;
    height: 4vh;
    background-color: tomato;
    border-radius: 3px;
    box-shadow: 2px 2px lightgray;
    font-family: nunito;
    font-weight: bold;
    font-size: .8rem;
    color: white;
}

.learn-more-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10vw;
    min-width: 120px;
    min-height: 30px;
    height: 3vh;
    background-color: tomato;
    border-radius: 3px;
    box-shadow: 2px 2px lightgray;
    font-family: nunito;
    font-weight: bold;
    font-size: .8rem;
    color: white;
}

.send-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 12vw;
    min-width: 150px;
    min-height: 35px;
    height: 3vh;
    background-color: tomato;
    border-radius: 3px;
    box-shadow: 2px 2px lightgray;
    font-family: nunito;
    font-weight: bold;
    font-size: .8rem;
    color: white;
    margin-left: 1vw;
}

.button:hover {
    background-color: rgb(207, 80, 57);
    cursor: pointer;
}

#btn-image {
    height: 65%;
}

#main {
    display: flex;
    flex-wrap: nowrap;
    width: 60vw;
    height: 150vh;
    min-height: 1500px;
    min-width: 500px;
}

#home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7.5vh;
    width: 40vw;
    min-width: 300px;
    min-height: 1500px;
    padding-top: 0;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.post-snippet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75vw;
    min-height: 750px;
    width: 38vw;
    min-width: 300px;
}

.post-header {
    font-family: nunito;
    font-weight: 600;
}

.side-header {
    font-family: nunito;
    font-weight: 600;
    font-size: .9rem;
}

.post-text {
    font-family: nunito;
    font-size: .9rem;
}

.large-image {
    width: 33vw;
    min-width: 303px;
    border: .25vw solid lightgray;
}

#home-snip-1 {
    border-bottom: 4px double rgb(75, 75, 75);
    margin-bottom: 3px;
}

.sidebar {
    width: 20vw;
    min-width: 166.66px;
    min-height: 1500px;
    font-family: nunito;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 275px;
    background-color: lightgray;
}

#footer-content {
    padding-top: 1.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
    min-width: 500px;
    font-family: nunito;
}

#footer-input-contact {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    min-width: 500px;
    margin-left: 1vw;
}

#footer-info {
    font-size: .75rem;
    width: 27.5vw;
    min-width: 250px;
    margin-right: 1vw;
}

#footer-text {
    min-width: 250px;
    width: 27.5vw;
    margin-top: 0;
    padding-top: 0;
}

#footer-input {
    width: 27.5vw;
    min-width: 250px;
}

#name, #email {
    width: 13vw;
    min-width: 108px;
    padding-right: 0;
}

#name-email {
    font-family: nunito;
    display: flex;
    justify-content: space-between;
    width: 27.5vw;
    min-width: 220px;
    margin-left: 1vw;
}

#message-container {
    margin-top: 10px;
    margin-left: 1vw;
    width: 27.5vw;
}

#message {
    font-family: nunito;
    width: calc(27.5vw - 6px);
    min-width: 220px;
    height: 100px;
}

#footer-icons {
    width: 27.5vw;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#footer-icons1, #footer-icons2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 13.75vw;
    min-width: 110px;
    height: 135px;
    justify-content: space-between;
}

.icon {
    display: flex;
}

.logo-blip {
    width: 30px;
    height: 30px;
}

.icon-text {
    font-size: .6rem;
    margin-top: 6px;
}

#other-posts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2vh;
    margin-left: 1vw;
    width: 16vw;
    min-width: 150px;
    height: 650px;
    border-bottom: 4px double rgb(99, 99, 99);
}

#sidebar-notes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 750px;
    }

.sidebar-pic-posts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2vh;
    margin-left: 1vw;
    width: 16vw;
    min-width: 150px;
    height: 50vh;
}

.bottom-post {
    border-top: 1px solid  rgb(99, 99, 99);
}

.pic-post-wrapper > .sidebar-text {
    margin-top: 0px;
    padding-top: 0px;
}

.pic-post-pic {
    width: 100px;
    height: 100px;
    float: left;
    border: .25vw solid lightgray;
    padding: 0;
    margin-right: 10px;
    margin-bottom: 5px;
}

.sidebar-text {
    font-family: nunito;
    font-size: .75rem;
    text-align: justify;
    padding-bottom: 1.5vh;
}

#link-1, #link-2 {
    border-bottom: 1px solid rgb(99, 99, 99);
}

.date-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 25px;
    font-family: nunito;
    color: white;
    background-color: gray;
    border-radius: 2.5px;
    box-shadow: 2px 2px lightgray;
}

.date-button:hover {
    background-color: lightslategray;
    cursor: pointer;
}
